<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/deshboard.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/deshboard.js') }}"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="{{ url_for('index') }}" class="logo">Security Dashboard</a>
                <ul class="nav-links">
                    <li><a href="{{ url_for('index') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('alerts') }}">Alerts</a></li>
                    <li><a href="{{ url_for('graphs') }}">View Graphs</a></li>
                    <li><a href="{{ url_for('model_evalution') }}">Model Evalution</a></li>
                    <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="main-content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: #333; color: #fff; text-align: center; padding: 10px 0;">
        <div class="footer-container">
            <p>&copy; 2024 Security Dashboard. All Rights Reserved.</p>
        </div>
    </footer>
    
</body>
</html>
